
    
<section class="my-4 mx-auto">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="div-01 d-flex justify-content-between">
                            <h3 class="fw-bold text-warning">Update Student Data</h3>
                            <a class="btn btn-warning fw-bold text-white" href="/student">Back</a>
                        </div>
                        <hr>
                        <form action="/student/edit/<%= single_student.id %>" method="POST" enctype="multipart/form-data">
                            <div class="my-3">
                                <input name="name" value="<%= single_student.name %>" class="form-control" type="text" placeholder="Name">
                            </div>
                            <div class="my-3">
                                <input name="email" value="<%= single_student.email %>" class="form-control" type="email" placeholder="Email Address">
                            </div>
                    
                            <div class="my-3">
                                <input name="photo" value="<%= single_student.photo %>" class="form-control" type="file" placeholder="Student Photo">
                            </div>
                            <div class="my-3">
                                <button class="btn btn-warning" type="submit">Update Data</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>

